<div class="container">
  <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="incio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mapa">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="acercade">Acerca de..</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
    
  </div>
</div>