<div class="contenedor">
  <mat-form-field>
    <input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese primer valor">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="valor2" type="number" placeholder="Ingrese segundo valor">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sumar()">Sumar</button>
  <p>La suma de dos valores es: {{resultado}}</p>
</div>
<mat-form-field appearance="outline">
  <mat-label>Ingrese primer valor</mat-label>
  <input matInput [(ngModel)]="valor1" placeholder="working">

</mat-form-field>