<div>
  <p>Ingrese nombre <input type="text" [(ngModel)]="nombre"></p>
  <p>Ingrese apellido <input type="text" [(ngModel)]="apellido"></p>
  <p>Nombre completo:{{nombre}},{{apellido}}</p>
</div>
<!--
<input type="text" [(ngModel)]="nombre">

<div>
  <p>{{counter}}</p>
  <button (click) = "increase()">Add 1</button>
  <button (click) = "decrement()">Subtract 1</button>
</div>-->
<!--
<p>Nombre del Empleado: {{name}}</p>
<p>Edad: {{age}}</p>
<p *ngIf="age >= 18 else menor">Is of Legal age</p>
<ng-template #menor><p>Es un menor de edad.</p></ng-template>
<table border="1">
  <tr>
    <td>Salaries</td>
  </tr>
  <tr *ngFor = "let salari of salaries">
    <td>{{salari}}</td>
  </tr>
</table>
-->
<!--<div>
  <p>Nombre del Empleado: {{nombre}}</p>
  <p>Edad: {{edad}}</p>
  <p>Los ultimos trees sueldos son {{sueldos[0]}} {{sueldos[1]}} {{sueldos[2]}}</p>
  <p>En los ultimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
  <p>{{esActivo()}}</p>
</div>-->