<div class="contenedor">
  <mat-form-field>
    <input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese primer valor">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="valor2" type="number" placeholder="Ingrese segundo valor">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Operaciones"[(ngModel)]="seleccionada" name="operacion">
      <mat-option *ngFor="let op of operaciones" [value]="op.valor">
        {{op.muestraValor}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="operar()">Operar</button>
  <p>El resultado es {{resultado}}</p>
</div>