<div>
    <h1 mat-dialog-title> Articulo</h1>
    <div mat-dialog-content>
        <div style="display: flex; flex-direction: column; margin:1rem auto; max-width: 600px; padding:1rem;">
            <mat-form-field>
                <input matInput [(ngModel)]="data.codigo" type="number" placeholder="Ingrese codigo">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.descripcion" type="text" placeholder="Ingrese descripcion">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.precio" type="text" placeholder="Ingrese precio">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">cancelar</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
    </div>
</div>